body{
	margin: 0;
	font-family: monospace;
}

header{
	background-color: rgb(108, 30, 210);
	padding: 20px;
}

header > h2{
	color: #fff;
}

.container{
	margin: auto;
	margin-top: 24px;
	margin-bottom: 24px;
	width: 60%;
}

.container > img{
	width: 100%;
}

footer{
	display: flex;
	background-color: rgb(108, 30, 210);
	color: #fff;
	padding: 16px;
}

@media screen and (max-width:500px){
	footer{
		display: block;
	}
}